# Excluir entorno virtual local (730MB innecesarios para Docker)
.venv
venv
env

# Excluir cachés de Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python

# Excluir logs generados localmente
logs/
*.log
monitoreo.log

# Excluir control de versiones
.git
.gitignore

# Excluir archivos de IDE
.idea
.vscode
*.swp

# Excluir archivos temporales de MLflow y modelos locales
mlruns/
artifacts/
