# === Virtualenvs ===
.venv/
venv/
env/

# === Git ===
.git/
.gitignore

# === Logs ===
logs/

# === Python cache ===
__pycache__/
*.pyc
*.pyo
*.pyd

# === IDE ===
.idea/
.vscode/
*.iml
*.iws
*.ipr

# === Docker ===
Dockerfile
.dockerignore
docker-compose*.yml